* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0!important;
}

.bg-primary {
    background-color: #276678!important;
}

.bg-primary-opacity-25 {
    background-color: rgba(39, 102, 120, 0.25);
}

.bg-primary-opacity-50 {
    background-color: rgba(39, 102, 120, 0.5);
}

.bg-primary-opacity-75 {
    background-color: rgba(39, 102, 120, 0.75);
}

.sections-container {
    scroll-snap-type: y mandatory;
    /* scroll-padding-top: 15vh; */
    overflow-y: scroll;
    height: 100vh;
}

.page-about {}

.page-contact {
    scroll-snap-align: start!important;
    height: 90vh!important;
}

.page-portfolio-2 {
    background-color: #569c60!important;
}

section {
    height: 100vh;
    scroll-snap-align: end;
}

#first-name {
    font-size: 6em;
    font-family: 'Better Grade', 'Open Sans', sans-serif;
}

.header-links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

.header-links a {
    margin-right: 1em;
    /*margin-top: 60px; */
}

.section-header {
    margin-top: 1em;
    color: white;
    font-family: 'Better Grade', 'Open Sans', sans-serif;
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#page-about-text {
    margin-top: 4em;
    color: white;
}

#check-my-cv-button {}

#page-about-image {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-right: auto;
}

.portfolio-text-container {
    padding: 4em;
}

#image-fleet-mobile {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#image-blueby-mobile {
    width: 4em!important;
}

#contact-header-section {
    margin-top: 0em!important;
}

#contact-form {
    padding: 4em;
}

#contact-form-message {
    resize: none;
}

footer {
    scroll-snap-align: end;
    height: 16em;
    width: 100%;
    background-color: #276678!important;
}

.social-media-icon {
    font-size: 1.4em;
    border-radius: 100%;
    border: 4px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.6em;
    color: black;
    vertical-align: center;
    background: white;
    text-decoration: none;
    margin: 0 1em;
}

.social-media-icon:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.social-media-icon:focus {
    text-decoration: none;
}

.social-media-icon:visited {
    text-decoration: none;
}