<div class="wrapper">
    <div class="row  justify-content-center">
        <div class="col-lg-3 col-12 text-center">
            <h1>Hi, I am Bojan. Nice to meet.</h1>
            <p>Since beginning my journey as a developer nearly 10 years ago, I've enjoyed creating the world a better place one code line at a time. I've collaborated with talented people to create digital products for both business and consumer use. I'm
                quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
            </p>
        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-lg-3 col-4">
            <header>Backend developer</header>
        </div>
        <div class="col-lg-3 col-4">
            <header>Frontend developer</header>
        </div>
        <div class="col-lg-3 col-4">
            <header>Other</header>
        </div>
    </div>
</div>